<!DOCTYPE HTML>
<html>
  <head>
    <title>Фрактал by JokerTeam</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <noscript><link rel="stylesheet" href="{{ url_for('static', filename='css/noscript.css') }}"></noscript>
  </head>
  <body class="is-preload{% if current_user.is_authenticated %} is-admin{% endif %}">
    <header id="header">
      <div class="content">
        <h1><a href="#">{{ page_title }}</a></h1>
        {# <p>Небольшое описание страницы</p> #}
        <ul class="actions">
          <li><a href="{{ url_for('index') }}" class="button primary icon solid fa-home">На главную</a></li>
          <li><a href="{{ url_for('demo_form') }}" class="button icon solid fa-calendar scrolly">Отправить форму</a></li>
        </ul>
      </div>
      <div class="image phone"><div class="inner"><img src="{{ url_for('static', filename='images/screen.jpg') }}" alt="" /></div></div>
    </header>

    {% block content %}{% endblock %}

    <footer id="footer">
      <ul class="icons">
        <li><a href="#" class="icon brands fa-facebook-f"><span class="label">Facebook</span></a></li>
        <li><a href="#" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li>
        <li><a href="#" class="icon brands fa-instagram"><span class="label">Instagram</span></a></li>
      </ul>
      <p class="copyright">&copy; Untitled. Credits: <a href="http://html5up.net">HTML5 UP</a></p>
    </footer>

    <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery.scrolly.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/browser.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/breakpoints.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/util.js') }}"></script>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
  </body>
</html>
