{% extends "base.j2" %}

{% block content %}
  <section id="four" class="wrapper">
    <div class="inner">
      <header class="major">
        <h2>Мы скоро свяжимся с вами.</h2>
      </header>
      <p>Можете посмотреть себя в <a href="{{ url_for('users') }}">списке пользователей</a></p>
    </div>
  </section>
{% endblock %}
