{% extends "base.j2" %}

{% block content %}
  <section id="four" class="wrapper">
    <div class="inner">
      <header class="major">
        <h2>Мы скоро свяжимся с вами.</h2>
      </header>
    </div>
  </section>
{% endblock %}
