{% extends "base.j2" %}

{% block content %}
  <section id="four" class="wrapper">
    <div class="inner">
      <header class="major">
        <ul style="text-align: left;font-size:26px">
          {% for user in users%}
            <li><b>{{ user.id }}</b>: {{ user.name }} ({{ user.email }})</li>
          {% endfor %}
        </ul>
      </header>
    </div>
  </section>
{% endblock %}
