<!DOCTYPE HTML>
<!--
  Solid State by HTML5 UP
  html5up.net | @ajlkn
  Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
  <head>
    <title>Визитка by Mr. Chaikin </title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <noscript><link rel="stylesheet" href=" {{ url_for('static', filename='css/noscript.css') }}"></noscript>
  </head>
  <body class="is-preload">

    <!-- Page Wrapper -->
      <div id="page-wrapper">

        <!-- Header -->
          <header id="header" class="alt">
            <h1><a href="#">Serik Muratovich Chaikin</a></h1>
            <nav>
              <a href="#menu">Menu</a>
            </nav>
          </header>



          {% block content%}{% endblock %}

        <!-- Footer -->
          <section id="footer">
            <div class="inner">
              <h2 class="major">Обратная связь</h2>
              <p>Если у Вас есть воспросы или предложения, напишите мне своё обращение</p>
              <form method="post" action="{{ url_for('index') }}" novalidate
                {{ form.hidden_tag() }}
                <div class="fields">
                  <div class="field">
                    {{ form.name.label }}
                    {{ form.name(size=32, placeholder=form.name.label.text) }}
                    {% for error in form.name.errors %}
                      <span style="color: red;">{{ error }}</span>
                    {% endfor %}
                  </div>
                  <div class="field">
                    {{ form.email.label }}
                    {{ form.email(size=32, placeholder=form.email.label.text) }}
                    {% for error in form.email.errors %}
                      <span style="color: red;">{{ error }}</span>
                    {% endfor %}
                  </div>
                  <div class="field">
                    {{ form.message.label }}
                    {{ form.message(size=32, placeholder=form.message.label.text) }}
                    {% for error in form.message.errors %}
                      <span style="color: red;">{{ error }}</span>
                    {% endfor %}
                  </div>
                </div>
                <ul class="actions">
                  <li>{{ form.submit() }}></li>
                </ul>
              </form>
              <ul class="contact">
                <li class="icon solid fa-home">
                  Russian Federation<br />
                  190068 Вознесенский проспект дом 45<br />
                  город Санкт-Петербург
                </li>
                <li class="icon solid fa-phone">(906) 25-484-25</li>
                <li class="icon solid fa-envelope"><a href="#">ser.chaikin@gmail.com</a></li>
                <li class="icon brands fa-vk"><a href="#">vk.com/id891013</a></li>
                <li class="icon brands fa-instagram"><a href="#">instagram.com/untitled-tld</a></li>
              </ul>
              <ul class="copyright">
                <li>&copy; Untitled Inc. All rights reserved.</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
              </ul>
            </div>
          </section>

      </div>

    <!-- Scripts -->
      <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
      <script src="{{ url_for('static', filename='js/jquery.scrollex.min.js') }}"></script>
      <script src="{{ url_for('static', filename='js/browser.min.js') }}"></script>
      <script src="{{ url_for('static', filename='js/breakpoints.min.js') }}"></script>
      <script src="{{ url_for('static', filename='js/util.js') }}"></script>
      <script src="{{ url_for('static', filename='js/main.js') }}"></script>

</body>
</html>
