<!DOCTYPE html>  
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Начало пути, сайт визитка</title>
    <style>
        body{
            font: 18px/1.3 Arial, Times
        }
        a{
            font-size: 24px;
            font-style: italic;
            text-decoration: none;
            color: rgb(55, 0, 255);
        }
        a:hover {
            text-decoration: underline;
        }
    </style>
</head>
<body>
    <header>
        <a href="{{ url_for('index') }}">Главная</a>
        <a href="/test">Тестовая</a>
    </header>
    <main>
        {% block kontent %}{% endblock %}
</body>
</html>