{% extends 'base.html' %}

{% block content %}
<section id="wrapper">

  <!-- One -->
    <section id="one" class="wrapper spotlight style1">
      <div class="inner">
        <a href="#" class="image"><img src={{ url_for('static', filename='images/work.jpg') }} alt="" /></a>
        <div class="content">
          <h2 class="major">Работа</h2>
          <p>Я люблю свою работу! Я приду сюда в субботу,
            и конечно воскресенье.Здесь я встречу День Рождения,
            Новый год, 8 Марта. Ночевать здесь буду завтра.
            Плащ-палатка, вещь мешок — у супруги будет шок!
            Если я не заболею, не сорвусь, не озверею,
            здесь я встречу все рассветы, все закаты и приветы!
            От работы дохнут кони. Ну, а я — бессмертный пони!!!
            </p>

        </div>
      </div>
    </section>

  <!-- Two -->
    <section id="two" class="wrapper alt spotlight style2">
      <div class="inner">
        <a href="#" class="image"><img src={{ url_for('static', filename='images/study.jpg') }} alt="" /></a>
        <div class="content">
          <h2 class="major">Учеба</h2>
          <p>Зубами науки грызя известняк,
             Старайся не портить эмали:
             Потерю зубов не восполнить никак,
             А станешь умнее – едва ли!</p>
          <!--<a href="#" class="special">Learn more</a>-->
        </div>
      </div>
    </section>

  <!-- Three -->
    <section id="three" class="wrapper spotlight style3">
      <div class="inner">
        <a href="#" class="image"><img src={{ url_for('static', filename='images/like.jpg') }} alt="" /></a>
        <div class="content">
          <h2 class="major">...и личная жизнь:)</h2>
          <p>На лице любимой промелькнула тень. И вспыхнул взгляд, такой обычно кроткий. Последнее, что помню я в тот день, Был черный диск чугунной сковородки...</p>
          <!--<a href="#" class="special">Learn more</a>-->
        </div>
      </div>
    </section>

  <!-- Four -->
    <section id="four" class="wrapper alt style1">
      <div class="inner">
        <h2 class="major">Жить захочешь - не так раскарячишься! Реклама</h2>
        <p>барахолка</p>
        <section class="features">
          <article>
            <a href="#" class="image"><img src={{ url_for('static', filename='images/inf (2).jpg') }} alt="" /></a>
            <h3 class="major">Финик</h3>
            <p>Продам коня, а может и не продам</p>
            <a href="https://www.avito.ru/sankt-peterburg/avtomobili/infiniti_qx50_2013_2265204043" target="_blank" class="special">Для любопытных</a>
          </article>
          <article>
            <a href="#" class="image"><img src={{ url_for('static', filename='images/pic05.jpg') }} alt="" /></a>
            <h3 class="major">Здесь могла быть ваша реклама</h3>
            <p>100$</p>
            <a href="#" class="special">Для любопытных</a>
          </article>
          <article>
            <a href="#" class="image"><img src={{ url_for('static', filename='images/pic06.jpg') }} alt="" /></a>
            <h3 class="major">Здесь могла быть ваша реклама</h3>
            <p>100$</p>
            <a href="#" class="special">Для любопытных</a>
          </article>
          <article>
            <a href="#" class="image"><img src={{ url_for('static', filename='images/pic07.jpg') }} alt="" /></a>
            <h3 class="major">Здесь могла быть ваша реклама</h3>
            <p>100$</p>
            <a href="#" class="special">Для любопытных</a>
          </article>
        </section>
        <ul class="actions">
          <li><a href="#" class="button">Browse All</a></li>
        </ul>
      </div>
    </section>

</section>
{% endblock %}
