{% extends 'base.html' %}

{% block content %}

  <!-- Wrapper -->
  <section id="wrapper">
          <header>
            <div class="inner">
              <h2>Жизнь</h2>
              <p>...это очень личная часть...потом, все потом...
              </p>
            </div>
          </header>

          <!-- Content -->
            <div class="wrapper">
              <div class="inner">
                <h3 class="major">НАДО ЕЕ ПРОЖИТЬ ТАК, ЧТО БЫ ПРО ТЕБЯ ПОТОМКИ ГОВОРИЛИ С ЗАМЕРАНИЕМ СЕРДЦА!!!</h3>
                <!--<a href="https://www.youtube.com/watch?v=vx2u5uUu3DE" target="_blank" class="special">Let's go!</a>-->
                <iframe width="853" height="480" src="https://www.youtube.com/embed/vx2u5uUu3DE" title="Bon Jovi - It's My Life (Official Music Video)" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

              </div>
            </div>

  </section>
  {% endblock %}
