{% extends 'base.html' %}

{% block content %}

  <!-- Wrapper -->
  <section id="wrapper">
          <header>
            <div class="inner">
              <h2>Жизнь</h2>
              <p>...это очень личная часть...потом, все потом...
              </p>
            </div>
          </header>

          <!-- Content -->
            <div class="wrapper">
              <div class="inner">
                <h3 class="major">Пусть будет песня</h3>
                <a href="https://www.youtube.com/watch?v=vx2u5uUu3DE" target="_blank" class="special">Let's go!</a>


              </div>
            </div>

  </section>
  {% endblock %}
