{% extends 'base.html' %}

{% block content %}

  <!-- Wrapper -->
  <section id="wrapper">
          <header>
            <div class="inner">
              <h2>Учеба</h2>
              <p>Даже и говорить нечего. Всю сознательную жизнь учусь. А сейчас вообще учусь тому, чтобы жизнь в корень поменять...
              </p>
            </div>
          </header>

          <!-- Content -->
            <div class="wrapper">
              <div class="inner">
                <h3 class="major">Наш сенсей ☺)))</h3>
                <a href="#" class="image"><img src={{ url_for('static', filename='images/))).jpg') }} alt="" /></a>


  </section>
  {% endblock %}
