{% extends 'base.html' %}

{% block content %}

  <!-- Wrapper -->
  <section id="wrapper">
          <header>
            <div class="inner">
              <h2>Работа</h2>
              <p>Если дороги это вены, а автомобили это кровь, значит топливо для них это кислород - без которого не может быть кровобращения. Если рассуждать в такой последовательности, получается я часть мозга отвечающая за легочную вену, которая доставляет кислород в кровь!)
              </p>
            </div>
          </header>

          <!-- Content -->
            <div class="wrapper">
              <div class="inner">
                <h3 class="major">Немного о том где я работаю...</h3>
                <p>С 2019 года я работаю в компании "Вестерн Петроллеум Транспортейшн" (ВПТ). Сфера деятельности: перевозка светлых и темных нефтепродуктов железнодорожным  и автомобильным транспортом для ПАО "ЛУКОЙЛ". В настоящее время ООО "ВПТ" владеет примерно 3,5 тыс наливными железнодорожными цистернами и почти 1,5 тыс автомобильными единицами. Организация крепко стоит на ногах и с перспективой и воодушивлением смотрит в бущее.</p>
                <a href="https://checko.ru/company/vpt-1037705006976" target="_blank" class="special">Для любопытных</a>
                <p></p>

                <h3 class="major"><div class=""></div>...и чем занимаюсь</h3>
                <p>Кто же я? Являюсь заместителем директора дивизиона "Северо-Западный". В мою зону ответственности входит контроль за работой отдельных регионов дивизиона таких как: часть Санкт-Петербурга и Ленинградской области, Архангельская обл, Мурманская область, Респ Карелия, Респ Коми. И в целом с транспортом работаю уже почти 20 лет).</p>
              </div>
            </div>

  </section>
  {% endblock %}
