<html>
  <body>
    {% if subject %}
      <h2>{{ subject }}</h2>
    {% endif %}

    {% if kwargs %}
      {% for field in kwargs %}
        <p>{{ field }}: {{ kwargs[field] }}</p>
      {% endfor %}
    {% endif %}
    <small>Время отправки: {{ time }}</small>
  </body>
</html>
