<!DOCTYPE HTML>
<html>
  <head>
    <title>Solid state by Nikita</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}" />
    <noscript><link rel="stylesheet" href="{{ url_for('static', filename='css/noscript.css') }}" /></noscript>
  </head>
  <body class="is-preload">

    <!-- Page Wrapper -->
      <div id="page-wrapper">

     <!-- Header -->
          <header id="header" class="alt">
            <h1><a href="index.html">ООО "ИМЯ"</a></h1>
            <nav>
              <a href="#menu">Меню</a>
            </nav>
          </header>

        <!-- Menu -->
          <nav id="menu">
            <div class="inner">
              <h2>Меню</h2>
              <ul class="links">
                <li><a href="{{ url_for('index') }}">Главная</a></li>
                <li><a href="{{ url_for('security.register') }}">Регистрация</a></li>
                <li><a href="{{ url_for('security.login') }}">Вход в личный кабинет</a></li>
                <li><a href="{{ url_for('security.logout') }}">Выход</a></li>
              </ul>
              <a href="#" class="close">Close</a>
            </div>
          </nav>

    {% block content %}{% endblock %}

      </div>
      <!-- Footer -->
          <section id="footer">
            <div class="inner">
              <ul class="copyright">
                <li>&copy; Untitled Inc. All rights reserved.</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
              </ul>
            </div>
          </section>

    <!-- Scripts -->
      <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
      <script src="{{ url_for('static', filename='js/jquery.scrollex.min.js') }}"></script>
      <script src="{{ url_for('static', filename='js/rowser.min.js') }}"></script>
      <script src="{{ url_for('static', filename='js/breakpoints.min.js') }}"></script>
      <script src="{{ url_for('static', filename='js/util.js') }}"></script>
      <script src="{{ url_for('static', filename='js/main.js') }}"></script>

  </body>
</html>
