{% extends "base.j2" %}
{% block content %}

        <!-- Wrapper -->
          <section id="wrapper">

           <!-- Banner -->
          <section id="banner">
            <div class="inner">
              <h2>Производство металлоконструкций ООО "ИМЯ"</h2>
              <p> Приветсвуем вас на нашем сайте! </p>
            </div>
          </section>

            <!-- One -->
              <section id="one" class="wrapper spotlight style1">
                <div class="inner">
                  <a href="#" class="image"><img src="{{ url_for('static', filename='images/pic00.jpg') }}" alt="" /></a>
                  <div class="content">
                    <h2 class="major">О компании</h2>
                    <p>ООО "ИМЯ"
                    <br> - это команда специалистов: операторы станков, слесари, сварщики, мастера по очистке и покраске металлоконструкций
                    <br> - более 2000 кв. м. производственных площадей
                    <br> - современный станочный парк
                    <br> - внедренная методология бережливого производства
                    <br> - приверженность принципам устойчивого развития
                    <br> - уверенность Клиента в высочайшем качестве любых видов работ, выполненных нами</p>
                  </div>
                </div>
              </section>

            <!-- Two -->
              <section id="two" class="wrapper alt spotlight style2">
                <div class="inner">
                  <a href="#" class="image"><img src="{{ url_for('static', filename='images/pic02.jpg') }}" alt="" /></a>
                  <div class="content">
                    <h2 class="major">Мощности</h2>
                    <p>Основное помещение площадью 2000 кв. метров и отдельный покрасочный цех позволяют изготавливать до 200 тонн металлоконструкций ежемесячно взависимости от сложности изделий.</p>
                  </div>
                </div>
              </section>

            <!-- Three -->
              <section id="three" class="wrapper spotlight style3">
                <div class="inner">
                  <a href="#" class="image"><img src="{{ url_for('static', filename='images/pic01.jpg') }}" alt="" /></a>
                  <div class="content">
                  <h2 class="major">Алгоритм нашей работы</h2>
                    <p>- Предварительный расчет стоимости и сроков изготовления
                    <br>- Разработка КМД
                    <br>- Закупка металлопроката
                    <br>- Технологические операции: раскрой, сборка, сварка, очистка, окраска, упаковка (контроль качества осуществляется на всех этапах)
                    <br>- Отгрузка Заказчику
                  </div>
                </div>
              </section>

            <!-- Four -->
              <section id="four" class="wrapper alt style1">
                <div class="inner">
                  <h2 class="major">Продукция</h2>
                  <p>Предприятие ООО ИМЯ изготавливает следующие виды продукции</p>
                  <section class="features">
                    <article>
                      <a href="#" class="image"><img src="{{ url_for('static', filename='images/pic04.jpg') }}" alt="" /></a>
                      <h3 class="major">Конструктивные элементы для промышленного и гражданского строительства</h3>
                    </article>
                    <article>
                      <a href="#" class="image"><img src="{{ url_for('static', filename='images/pic05.jpg') }}" alt="" /></a>
                      <h3 class="major">Сварные каркасы</h3>
                    </article>
                    <article>
                      <a href="#" class="image"><img src="{{ url_for('static', filename='images/pic06.jpg') }}" alt="" /></a>
                      <h3 class="major">Лестницы, ограждения и прочие металлоконструкции</h3>
                    </article>
                    <article>
                      <a href="#" class="image"><img src="{{ url_for('static', filename='images/pic07.jpg') }}" alt="" /></a>
                      <h3 class="major">Нетиповые изделия</h3>
                    </article>
                  </section>
                </div>
              </section>

            <!-- Footer -->
          <section id="footer">
            <div class="inner">
              <h2 class="major">Форма обратной связи</h2>
              <p> Остались вопросы? Задай их через форму обратной связи.</p>
              <form method="post" action=" {{ url_for('index') }}" novalidate>
              {{ form.hidden_tag() }}
                <div class="fields">
                  <div class="field">
                    {{ form.name.label }}
                    {{ form.name(size=25, placeholder=form.name.label.text) }}
                    {% for error in form.name.errors %}
                      <span style="color: red;"> {{error}}</span>
                    {% endfor %}
                  </div>
                  <div class="field">
                    {{ form.email.label }}
                    {{ form.email(size=25, placeholder=form.email.label.text) }}
                    {% for error in form.email.errors %}
                      <span style="color: red;"> {{error}}</span>
                    {% endfor %}
                  </div>
                  <div class="field">
                    {{ form.message.label }}
                    {{ form.message(size=25, placeholder=form.message.label.text) }}
                    {% for error in form.message.errors %}
                      <span style="color: red;"> {{error}}</span>
                    {% endfor %}
                  </div>
                </div>
                <ul class="actions">
                  <li>{{ form.submit() }}</li>
                </ul>
              </form>
            </div>
            <div class="inner">
              <h2 class="major">Оценка качества сайта</h2>
              <p> Команда ООО ИМЯ будет очень благодарна, если вы оцените наш сайт от 1 до 5.
              <br>Средняя оценка пользователями нашего сайта: {{rating}}
              </p>
              <form method="post" action=" {{ url_for('index') }}" novalidate>
              {{ rating_form.hidden_tag() }}
                <div class="fields">
                  <div class="field">
                    {{ rating_form.rating.label }}
                    {{ rating_form.rating}}
                    {% for error in rating_form.rating.errors %}
                      <span style="color: red;"> {{error}}</span>
                    {% endfor %}
                  </div>
                  <div class="field">
                    {{ rating_form.comments.label }}
                    {{ rating_form.comments(size=25, placeholder=rating_form.comments.label.text) }}
                    {% for error in rating_form.comments.errors %}
                      <span style="color: red;"> {{error}}</span>
                    {% endfor %}
                  </div>
                </div>
                <ul class="actions">
                  <li>{{ rating_form.submit() }}</li>
                </ul>
              </form>
            </div>
            <div class="inner">
            <h2 class="major">Контактные данные</h2>
              <ul class="contact">
                <li class="icon solid fa-home">
                  {{company_contacts.adress}}
                </li>
                <li class="icon solid fa-phone">{{company_contacts.phone}}</li>
                <li class="icon brands fa-facebook-f"><a href="#">{{company_contacts.telegram}}</a></li>
                <li class="icon brands fa-instagram"><a href="#">{{company_contacts.instagram}}</a></li>
              </ul>
            </div>
          </section>
          </section>

{% endblock %}
