{% extends "base.j2" %}
{% block content %}

        <!-- Wrapper -->
          <section id="wrapper">

           <!-- Banner -->
          <section id="banner">
            <div class="inner">
              <a href="#" class="image"><img src="{{ url_for('static', filename='images/myphoto.jpg') }}" alt="" /></a>
              <h2>Это мой первый сайт</h2>
              <p> Приветсвую вас! </p>
            </div>
          </section>

            <!-- One -->
              <section id="one" class="wrapper spotlight style1">
                <div class="inner">
                  <a href="#" class="image"><img src="{{ url_for('static', filename='images/pic01.jpg') }}" alt="" /></a>
                  <div class="content">
                    <h2 class="major">Magna arcu feugiat</h2>
                    <p>Lorem ipsum dolor sit amet, etiam lorem adipiscing elit. Cras turpis ante, nullam sit amet turpis non, sollicitudin posuere urna. Mauris id tellus arcu. Nunc vehicula id nulla dignissim dapibus. Nullam ultrices, neque et faucibus viverra, ex nulla cursus.</p>
                    <a href="#" class="special">Learn more</a>
                  </div>
                </div>
              </section>

            <!-- Two -->
              <section id="two" class="wrapper alt spotlight style2">
                <div class="inner">
                  <a href="#" class="image"><img src="{{ url_for('static', filename='images/pic02.jpg') }}" alt="" /></a>
                  <div class="content">
                    <h2 class="major">Tempus adipiscing</h2>
                    <p>Lorem ipsum dolor sit amet, etiam lorem adipiscing elit. Cras turpis ante, nullam sit amet turpis non, sollicitudin posuere urna. Mauris id tellus arcu. Nunc vehicula id nulla dignissim dapibus. Nullam ultrices, neque et faucibus viverra, ex nulla cursus.</p>
                    <a href="#" class="special">Learn more</a>
                  </div>
                </div>
              </section>

            <!-- Three -->
              <section id="three" class="wrapper spotlight style3">
                <div class="inner">
                  <a href="#" class="image"><img src="{{ url_for('static', filename='images/pic03.jpg') }}" alt="" /></a>
                  <div class="content">
                    <h2 class="major">Nullam dignissim</h2>
                    <p>Lorem ipsum dolor sit amet, etiam lorem adipiscing elit. Cras turpis ante, nullam sit amet turpis non, sollicitudin posuere urna. Mauris id tellus arcu. Nunc vehicula id nulla dignissim dapibus. Nullam ultrices, neque et faucibus viverra, ex nulla cursus.</p>
                    <a href="#" class="special">Learn more</a>
                  </div>
                </div>
              </section>

            <!-- Four -->
              <section id="four" class="wrapper alt style1">
                <div class="inner">
                  <h2 class="major">Vitae phasellus</h2>
                  <p>Cras mattis ante fermentum, malesuada neque vitae, eleifend erat. Phasellus non pulvinar erat. Fusce tincidunt, nisl eget mattis egestas, purus ipsum consequat orci, sit amet lobortis lorem lacus in tellus. Sed ac elementum arcu. Quisque placerat auctor laoreet.</p>
                  <section class="features">
                    <article>
                      <a href="#" class="image"><img src="{{ url_for('static', filename='images/pic04.jpg') }}" alt="" /></a>
                      <h3 class="major">Sed feugiat lorem</h3>
                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing vehicula id nulla dignissim dapibus ultrices.</p>
                      <a href="#" class="special">Learn more</a>
                    </article>
                    <article>
                      <a href="#" class="image"><img src="{{ url_for('static', filename='images/pic05.jpg') }}" alt="" /></a>
                      <h3 class="major">Nisl placerat</h3>
                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing vehicula id nulla dignissim dapibus ultrices.</p>
                      <a href="#" class="special">Learn more</a>
                    </article>
                    <article>
                      <a href="#" class="image"><img src="{{ url_for('static', filename='images/pic06.jpg') }}" alt="" /></a>
                      <h3 class="major">Ante fermentum</h3>
                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing vehicula id nulla dignissim dapibus ultrices.</p>
                      <a href="#" class="special">Learn more</a>
                    </article>
                    <article>
                      <a href="#" class="image"><img src="{{ url_for('static', filename='images/pic07.jpg') }}" alt="" /></a>
                      <h3 class="major">Fusce consequat</h3>
                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing vehicula id nulla dignissim dapibus ultrices.</p>
                      <a href="#" class="special">Learn more</a>
                    </article>
                  </section>
                  <ul class="actions">
                    <li><a href="#" class="button">Browse All</a></li>
                  </ul>
                </div>
              </section>

            <section id="footer">
              <div class="inner">
              <h2 class="major">Форма обратной связи</h2>
              <p> Остались вопросы? Задай их через форму обратной связи.</p>
              <form method="post" action=" {{ url_for('index') }}" novalidate>
              {{ form.hidden_tag() }}
                <div class="fields">
                  <div class="field">
                    {{ form.name.label }}
                    {{ form.name(size=28, placeholder=form.name.label.text) }}
                    {% for error in form.name.errors %}
                      <span style="color: red;"> {{error}}</span>
                    {% endfor %}
                  </div>
                  <div class="field">
                    {{ form.email.label }}
                    {{ form.email(size=28, placeholder=form.email.label.text) }}
                    {% for error in form.email.errors %}
                      <span style="color: red;"> {{error}}</span>
                    {% endfor %}
                  </div>
                  </div>
                  <div class="field">
                    {{ form.message.label }}
                    {{ form.message(size=28, placeholder=form.message.label.text) }}
                    {% for error in form.message.errors %}
                      <span style="color: red;"> {{error}}</span>
                    {% endfor %}
                  </div>
                  </div>
                </div>
                <ul class="actions">
                  <li>{{ form.submit() }}</li>
                </ul>
              </form>
              </div>
            </section>
          </section>

{% endblock %}
