{% extends "base.j2" %}
{% block content %}

        <!-- Wrapper -->
          <section id="wrapper">
           <div class="inner">
              <ul>
                 Личный кабинет: {{email}}
              </ul>
            </div>
          </section>

{% endblock %}
